* {
	margin: 0;
	padding: 0;
}

html {
    transition: 1s;
    background-image: url('../recursos/gnomes-lowBright.jpg');
	width: 100vw;
	height: 100vh;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

body {
    background: transparent;
}

#nav {
    display: inline-block;
    width: 100vw;
    text-align: center;
    height: 82px;
    border-bottom: solid rgba(79,79,79,1);
    background: rgba(56, 20, 51, .97);
}

ul {
    text-align: center;
    list-style: none;
}

li {
    display: inline-block;
    margin: 20px;
    padding-inline: 10px;
}

a {
    text-decoration: none;
    color: white;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: bolder;
}

a:hover {
    transition: .3s;
    background: #7a0043;
}

.slider {
    display: flex;
    margin: auto;
    margin-top: 10%;
    width: 700px;
    height: 500px;
    overflow: hidden;
    background: rgba(0,0,0,0.8);
    border: solid white thick;
    border-radius: 12px;
}

#loja-head {
    color: white;
    background: grey;
    margin-left: 0;
    font: 28px;
    width: fit-content;
    border-bottom: solid white;
    border-right: solid white;
}

.slider input[type="radio"] {
    display: none;
}

.slider input[type="image"] {
    margin-top: 65px;
    align-items: center;
    height: 350px;
    width: 450px;
    margin-left: 35px;
    margin-right: 200px;
    position: relative;
    padding: 15px;

}

.slider input[type="image"]:hover {
    border: solid white;
    border-radius: 40px;
}

.navigation-manual {
    position: absolute;
    width: 700px;
    margin-left: 15%;
    margin-top: 28%;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: solid white 2px;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background: white;
 }

 #radio1:checked ~ .first{
    margin-left: 0;
 }
  #radio2:checked ~ .first{
    margin-left: 25%;
 }
  #radio3:checked ~ .first{
    margin-left: 50%;
 }