@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Faculty+Glyphic&family=Montaga&display=swap');
*{
	font-family:"Montaga", serif;
}
body {
	margin:0;
}
.background{
	background:url("../recursos/viajante.jpg");
	height:100dvh;
	background-size:cover;
	background-repeat:no-repeat;
	display:flex;
	justify-content: center;
	align-items:center;
	@media screen and (max-width:500px){
		background-position:-11rem;
	}
}
.menu{
	border:1px solid white;
	height:60%;
	width:25%;
	background:linear-gradient(45deg,black, rgb(32,32,32));
	opacity:90%;
	border-radius:30px;
	display:flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction:column;
	@media screen and (min-width:769px) and (max-width:1000px){
		width:50%;
		height:60%;
	}
	@media screen and (max-width:768px){
		width:65%;
		height:50%;
	}
}
#title{
	text-align:center;
	font-size:1.5rem;
	color:#f5deb3;
	padding:1em;
	margin-bottom:2rem;
	@media screen and (max-width:768px){
		font-size:0.8rem;
		margin-bottom:1rem;
	}
}
.button{
	color:white;
	margin:2rem;
	transition:all 0.3s ease;
	width:60%;
	text-align:center;
	text-decoration: none;
	@media screen and (max-width:768px){
		width:60%;
		margin:1.5rem;
	}
	&:hover{
		transform:translateY(-10px);
		cursor:pointer;
		border:1px solid white;
	}
}

#gnomo{
	background:linear-gradient(red,orange);
	padding:1rem;
	border-radius:20px;
}
#cavaleiro{
	background:linear-gradient(green,limegreen);
	padding:1rem;
	border-radius:20px;
}
#buttonText{
	font-size:1.5rem;
	@media screen and (max-width:768px){
		font-size:0.8rem;
	}
}